/* IMPORTAÇÃO DA FONTE */
@font-face {
    font-family: 'Barrio';
    src: url('../fonts/fonte-titulos.otf');
}

@font-face {
    font-family: 'Courier Std';
    src: url('../fonts/fonte-paragrafos.otf');
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('../fonts/fonte-link.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-family-titulos: 'Barrio';
    --fonte-family-paragrafos: 'Courier Std';
    --fonte-family-link: 'Aktiv Grotesk';
    --titleBlack-color: rgb(40, 40, 42);
    --titlesWhite-color: rgb(245, 245, 243);
    --borderBottom-color: rgb(119, 119, 118);
}

a {
    color: var(--titleBlack-color);
}

    li a{
        text-decoration: none;
    }

/* Config Nav */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    border-bottom: 1px solid black;
    padding: 0 30px;
}

    /* Estilização do nome/logo */
    .nav-logo a {
        font-size: 15px;
        text-transform: uppercase;
        color: var(--titleBlack-color);
        font-family: var(--fonte-family-link);
        text-decoration: none;
    }

    /* Estilização da lista de links */
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px; /* Espaço entre os itens */
    }

        .nav-links li {
            list-style-type: none;
        }

        .nav-links a {
            font-family: var(--fonte-family-link);
            font-size: 15px;
            color: var(--titleBlack-color);
            text-transform: uppercase;
            text-decoration: none;
        }

/* SEÇÃO SOFIA */
#secao-sofia {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--borderBottom-color);
}

    /* Título principal */
    .title-principal h1 {
        font-family: var(--fonte-family-titulos);
        font-size: 260px;
        text-transform: uppercase;
        color: var(--titleBlack-color);
        text-align: center;
    }

    /* Layout da seção */
    .container-sofia {
        display: grid;
        grid-auto-flow: column;
        column-gap: 60px;
        margin: 0 50px 50px 50px;
    }

        /* Imagem */
        .image-container-sofia img {
            width: 50vw;
            padding-bottom: 20px;
        }

        /* Conteúdo textual */
        .content-sofia {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 88%;
        }

            /* Título do conteúdo */
            .title-sofia h2 {
                font-family: var(--fonte-family-titulos);
                font-size: 30px;
                text-transform: uppercase;
                color: var(--titleBlack-color);
                text-align: left; /* Título do conteúdo alinhado à esquerda */
            }

            /* Texto */
            .text-sofia {
                width: 95%;
                text-align: left; /* Alinhado à esquerda */
            }

            .text-sofia p {
                font-family: var(--fonte-family-paragrafos);
                font-size: 16px;
                color: var(--titleBlack-color);
                line-height: 1.6;
            }

            /* Último parágrafo */
            .text-sofia p:last-child {
                margin-top: 50px;
            }

/* SEÇÃO INVERNO */
#secao-inverno {
    width: 100%;
    min-height: 100vh;
    border-bottom: 2px solid var(--borderBottom-color);
    margin-top: 70px;
    padding: 50px 5%;
}

/* CONTEÚDO PRINCIPAL */
.content-inverno {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

/* CONTAINER DE TEXTO E IMAGEM PEQUENA */
.text-container-inverno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

/* TÍTULO */
.title-inverno h2 {
    font-family: var(--fonte-family-titulos);
    font-size: 30px;
    text-transform: uppercase;
    color: var(--titleBlack-color);
    text-align: left;
    margin-bottom: 20px;
}

/* TEXTO */
.text-container-inverno p {
    font-family: var(--fonte-family-paragrafos);
    font-size: 16px;
    color: var(--titleBlack-color);
    line-height: 1.3;
    margin-bottom: 20px;
}

/* LINK DE AÇÃO */
.text-container-inverno a {
    color: var(--fonte-family-link);
}

/* IMAGEM PEQUENA */
.image-small-inverno img {
    max-width: 30%;
    height: auto;
    object-fit: cover;
}

/* IMAGEM PRINCIPAL */
.image-main-inverno img {
    max-width: 90%;
    height: auto;
}

/* IMAGEM INFERIOR */
.image-bottom-inverno {
    text-align: center;
    margin-top: 30px;
}

.image-bottom-inverno img {
    max-width: 40%;
    height: auto;
    object-fit: cover;
}

/* SEÇÃO OUTONO */
#secao-outono {
    width: 100%;
    min-height: 100vh;
    border-bottom: 2px solid var(--borderBottom-color);
    margin-top: 70px;
    padding: 50px 5%;
}

.content-outono {
    display: flex;
    justify-content: space-between;
}

.text-container-outono {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    height: 100vh;
}

.title-outono h2 {
    font-family: var(--fonte-family-titulos);
    font-size: 30px;
    text-transform: uppercase;
    color: var(--titleBlack-color);
    text-align: left;
    margin-bottom: 20px;
}

.text-container-outono p {
    font-family: var(--fonte-family-paragrafos);
    font-size: 16px;
    color: var(--titleBlack-color);
    line-height: 1.3;
    margin-bottom: 20px;
}

.text-container-outono a {
    color: var(--fonte-family-link);
}

.image-small-outono img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image-main-outono img {
    max-width: 50%;
    height: auto;
    align-items: end;
}